body
{
 font-family: arial;
 font-size: 20px;
 text-align: center;
}

header
{
	width: 100%;
}


button{
	border: 0;
}

 figure
{
	vertical-align: top;
	display: inline-block;
}

#imagen
{
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
figure img #categorias 
{
	width: 100%;
	display: inline-block;
	vertical-align: top;

}

#texto a
{
	text-align: left;
	text-decoration: none;
}

nav
{
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	font-size: 1.5em;
	background-color: 79B749;
	display:inline-block;
	vertical-align: top;

}

nav ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li 
{
	display: inline-block;
}

nav ul li a
{
	display: inline-block;

}

nav ul li a img
{
	width: 80%;

}